.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(42, 251, 174);
    box-shadow: 0 0 10px rgba(209, 12, 12, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #3767eb;
    border-radius: 5px;
  }
  .button {
    background: #146fd1;
    color: rgb(179, 23, 23);
    border: none;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .button:hover {
    background: #0056b3;
  }
  